<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!--extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="sk.vhm.linkedresources.contribution1"
            nameFilter="*.*"
            objectClass="org.eclipse.ui.IEditorInput">
         <menu
               label="Linked Resources"
               path="additions"
               id="sk.vhm.linkedresources.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               definitionId="sk.vhm.linkedresources.commands.openResourceCommand"
               enablesFor="1"
               id="sk.vhm.linkedresources.newAction"
               label="Open"
               menubarPath="sk.vhm.linkedresources.menu1/group1">
         </action>
      </objectContribution>
   </extension-->
   
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="sk.vhm.linkedresources.hyperlink.LinkedResourceLinkDetector"
            id="sk.vhm.linkedresources.hyperlinkDetector1"
            modifierKeys="Ctrl + Alt"
            name="Linked Resource Hyperlink"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>

</plugin>
