<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!--extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="sk.vhm.linkedresources.contribution1"
            nameFilter="*.*"
            objectClass="org.eclipse.ui.IEditorInput">
         <menu
               label="Linked Resources"
               path="additions"
               id="sk.vhm.linkedresources.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               definitionId="sk.vhm.linkedresources.commands.openResourceCommand"
               enablesFor="1"
               id="sk.vhm.linkedresources.newAction"
               label="Open"
               menubarPath="sk.vhm.linkedresources.menu1/group1">
         </action>
      </objectContribution>
   </extension-->
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#TextEditorContext?after=additions">
         <menu
               label="Linked Resources"
               mnemonic="L">
            <command
                  commandId="sk.vhm.linkedresources.commands.openResourceCommand"
                  label="Open"
                  mnemonic="O">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="sk.vhm.linkedresources.handlers.OpenLinkedResourceHandler"
            commandId="sk.vhm.linkedresources.commands.openResourceCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="sk.vhm.linkedresources.commands.openResourceCommand"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+SHIFT+L O">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="sk.vhm.linkedresources.commands.category"
            name="Linked Resources">
      </category>
      <command
            categoryId="sk.vhm.linkedresources.commands.category"
            id="sk.vhm.linkedresources.commands.openResourceCommand"
            name="Open Linked Resource">
      </command>
   </extension>

</plugin>
